// @import '@red-hat-insights/insights-frontend-components/Utilities/_mixins';
@import '@patternfly/patternfly/sass-utilities/_all';

:root {
    --spacing-unit: 6px;
    --ins-index-width: 200px;
    --ins-parsed-data-width: 700px;
    --pf-global--BackgroundColor--white: #FFFFFF;
    --ins-root-background-color--light: var(--pf-global--palette--black-300)
}

.ins-logger-root-layout {
    background: var(--pf-global--BackgroundColor--white);
    width: 1000px;
}

.logger__toolbar {
    background: var(--ins-root-background-color--light);
    border: thin;
}

.ins-loggerToolbar__search {
    position: absolute;
    right: 0;
}

.ins-loggerToolbar__title {
    background: var(--pf-global--BackgroundColor--white);
    width: 1000px;
}

.loggerHeaderDiv {
    background: var(--pf-global--BackgroundColor--200);
    width: 800;
}



