@import '@patternfly/patternfly/sass-utilities/_all';


:root {
    --ins-toolbar-background-color: var(--pf-global--palette--black-300);
    --ins-toolbar-border-color: var(--pf-global--palette--black-200);
    --ins-toolbar-color: var(--pf-global--palette--black-100);
    --ins--toolbar-icon-action-color: var(--pf-global--info-color--200);
    --ins--toolbar-font-action-color: var(--pf-global--BackgroundColor--100);
}

.logger__toolbar{
    border: 1px solid var(--ins-toolbar-border-color);
}

// we're using PF's button now
.toolbar__icons {
    padding: 6px 16px !important;
}

// Try not to use floats, they're old and crufty now

.toolbar--text-input {
    background-color: green;
    margin-right: 500px;
    width: 3000px;
}